.header-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
    background-color: #EB8258;
}

.header-name {
    color: white;
    font-size: 35px;
}

/* Desktop layout */
@media only screen and (min-width: 1024px) {
    .header-avatar {
        padding-top: 60px;
        margin-left: 1.5em;
        margin-right: 1.5em;
        margin-top: 150px;
        border-radius: 50px;
    }

    #tweets::before {
        content: '';
        display: block;
        height: 510px;
        margin-top: -510px;
        visibility: hidden;
    }
}

/* Tablet layout */
@media only screen and (max-width: 1024px) {
    .header-avatar {
        width: 100%;
        padding-top: 100px;
    }

    .header-avatar img {
        width: 200px;
    }

    .header-fixed {
        position: sticky;
        top: 0;
    }

    #tweets::before {
        content: '';
        display: block;
        height: 510px;
        margin-top: -510px;
        visibility: hidden;
    }
}