html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #17183B;
    background-color: #f4f1ec;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    width: 90%;
    margin: auto;
}

/* Desktop layout */
@media only screen and (min-width: 1024px) {

    body {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    main {
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 1.5em;
        overflow-y: auto;
    }
}