form {
    display: flex;
    flex-direction: column;
}

#tweet-text {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid #545149;
}

.tweet-btn-counter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.tweet-btn {
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Bungee', cursive;
    background-color: #4056A1;
    border: none;
    color: #FFFFFF;
}