form {
    display: flex;
    flex-direction: column;
}

#tweet-text {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 5px solid #545149;
}

.tweet-btn-counter {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-family: 'Bungee', cursive;

}

.tweet-btn {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4056A1;
    border: none;
    color: #FFFFFF;
}

.error {
    color: red;
}

.error-message {
    color: red;
font-size: large;
}

/* Tweeted article styling */
article {
    border: 5px solid #545149;
    margin-top: 40px;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

article header.tweet-header,
.tweet-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.tweet-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tweet-left h4 {
    color: #545149;
}

.tweet-right h4 {
    color: #C9CDE4;
}

.user-pic {
    height: 50px;
    margin-right: 10px;
}

article .article-text {
    border: none;
    border-bottom: 5px solid #545149;
    padding-bottom: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

article footer.tweet-footer {
    height: 20px;
    margin: 15px;
    font-size: 15px;
}

.fa-flag,
.fa-retweet,
.fa-heart {
    margin: 3px;
}

.fa-flag:hover,
.fa-retweet:hover,
.fa-heart:hover {
    color: #C49A3D;
    cursor: pointer;
}